.filter {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px; 
    &__buttons {
        display: flex;
        margin: auto;
    }
    &__btn {
        transition: background-color 300ms ease-in-out;
        padding: 1rem;
        margin: 20px;
        font-family: $font-title;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: $light-grey;
        border: transparent;
        border-radius: 1rem; 
        &:hover {
            background-color: #aaa; 
        }
    }
}

.selected {
    background-color: $light-green;
    &:hover {
        background-color: $light-green;
    }
}