$max-width: 1200px;
$gutter: 20px;
$font-main: "Lora", "Times New Roman", serif;
$font-title: "Roboto Mono", "Courier New", monospace;

$black: #000;
$dark-grey: #999;
$medium-grey: #aaa;
$light-grey: #ccc;
$light-green: #2d2;
$dark-green: #1a1;
$white: #fcffd2;
$pink: #cc9694;
