@import "config";

.lecture {
  max-width: 830px;
  padding: $gutter;
  margin: 0.5*$gutter auto;

  &__check {
    padding: 0.5*$gutter;
    color: $light-green;
    align-self: center;

    &__container {
      display: flex;
    }
  }

  &__video {
    width: 100%;
    height: 400px;
    margin: 0.5*$gutter 0;
  }

  &__paragraph {
    margin: 0.5*$gutter 0;

    &__container {
      margin: 0.5*$gutter 0;
    }
  }

  &__quote {
    padding: 0.5*$gutter $gutter;
    margin: 2*$gutter -1*$gutter;
    background: $light-grey;

    &__text {
      margin: 0.5*$gutter auto;
    }

    &__attribute {
      margin: 0.5*$gutter auto;
      font-style: italic;
    }
  }

  &__image {
    &__caption {
      margin: 0 auto;
      font-style: italic;
    }

    &__container {
      padding: $gutter 0;
    }
  }

  &__heading {
    margin: 0.5*$gutter 0;
  }

  &__list {
    margin: 0.5*$gutter 0;

    &__item {
      margin: 0.5*$gutter 0;
    }
  }

  &__code {
    padding: $gutter 0;
    font-family: $font-title;
  }
}
